.navigation{
  grid-area: nav;
  background-color: #000000;
  color: #FFFFFF;
  height: 100vh;
  max-width: 200px;
  z-index: 2;
  position: fixed;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
