.navigation__image{
  margin-top: 40px;
  margin-left: 20px;
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  background-image: url(./image/spotify_logo_icon_189261.svg);
}
