.player__pause{
  margin: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(./image/pause-svgrepo-com.svg);
}

.player__pause:hover {
  opacity: 0.8;
  transition: opacity 0.5s linear;
  cursor: pointer;
}
