.card{
  box-shadow: 5px 3px 4px 2px #000000;
  border-radius: 10px;
  background-color: #222222;
  margin-bottom: 20px;
  margin-right: 20px;
}

.card:hover{
  transform: scale(1.15, 1.15);
  transition: transform 0.04s linear 0.04s;
  cursor: pointer;
}

