.player{
  width: calc(100% - 200px);
  height: 60px;
  grid-area: player;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

}


.player::after{
  content: "";
  display: block;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #111111;
  opacity: 0.3;
  bottom: 0;
  right: 0;
  z-index: -1;
}
